.header {
  background-color: #fff;
  box-shadow: rgba(177, 177, 177, 0.5) 0 2px 16px 0;
  color: #595959;
  margin-left: unset;
  margin-right: unset;
  position: relative;
  text-align: center;
  z-index: 1020;
}

.header-wrapper {
  padding: 10px;
  align-items: center;
  justify-content: center;
}

button:disabled {
  cursor: not-allowed;
  background-color: #e0e0e0;
  opacity: 0.5;

  &:hover {
    background-color: #e0e0e0;
  }
}

.vr {
  border-left: 1px solid #e0e0e0;
  height: 100%;
  margin: 0 10px;
}