$sidebar-width: 250px;

.sidebar {
  color: #595959;
  display: block;
  height: 100%;
  padding: 8px;
  width: $sidebar-width;
  min-width: $sidebar-width;
  max-width: $sidebar-width;
  flex-basis: $sidebar-width;
  overflow-y: auto;
  background-color: #fff;

  user-select: none;

  img {
    cursor: pointer;
  }
}

.sidebar-item {
  border: 1px solid rgb(129 129 129 / 85%);
  border-radius: 8px;
  background-color: #f1f2f3;

  & + .sidebar-item {
    margin-block-start: 16px;
  }

  img {
    padding: 4px;
    padding-top: 0;
    padding-bottom: 8px;
    // padding-block: 1.5rem;
    // border-bottom: 1px solid #c8cdd4;
  }
}

#canvas {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
// .canvas-container {
//   position: relative;
//   width: 100% !important;
//   height: 0 !important;
//   padding-bottom: 100%; // the canvas height as a percentage of its width
// }
// .upper-canvas {
//   width: 100% !important;
//   height: 100% !important;
// }

.dragover {
  background-color: #e0e0e0;
}