.sidebar {
  color: #595959;
  display: block;
  height: 100%;
  padding-left: 2px;
  padding-right: 8px;
  width: 310px;
  min-width: 310px;
  max-width: 310px;
  flex-basis: 310px;
  overflow-y: auto;
  height: calc(100vh - 44px);
  background-color: #fff;

  user-select: none;

  img {
    cursor: pointer;
  }
}

#canvas {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
// .canvas-container {
//   position: relative;
//   width: 100% !important;
//   height: 0 !important;
//   padding-bottom: 100%; // the canvas height as a percentage of its width
// }
// .upper-canvas {
//   width: 100% !important;
//   height: 100% !important;
// }
