@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  height: 100vh;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  max-height: 100%;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
  border-color: transparent;
  background: transparent;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  border-color: transparent;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: hsl(0deg 0% 62%);

  :hover {
    background: hsl(0deg 0% 46%);
  }
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}

.main-wrapper {
  height: calc(100% - 62px);
}